@using static AdminApp.Repository.AdminRepository
@model AdminApp.Models.User

@{
    ViewBag.Title = "Create New";
    var SveRole = ViewBag.SveRole;
}


<div class="container card-header shadow-lg rounded-3 bg-dark mt-5">
    <div class="row form-inline">
        <h2 class="col-sm text-secondary">New user </h2>
        <div class="col-md-6">
            <a asp-action="Index" class="btn btn-sm btn-outline-info font-weight-bold ml-lg-2 offset-lg-10 float-lg-right">Users</a>
        </div>
    </div>
</div>


<form asp-action="CreateNew" class="needs-validation mt-4 text-light" validate novalidate>

    <div class="form-row">

@*        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>*@

        <div class="col-md-4 mb-3">
            <label asp-for="UserName" class="control-label text-info"></label>
            <input asp-for="UserName" id="validationCustom02" class="form-control bg-dark  needs-validation text-light-emphasis input-group-text" type="text" validate required />
            <span asp-validation-for="UserName" class="text-danger"></span><span class="invalid-feedback"></span>
            <span><div class="valid-feedback">   OK!   </div></span>
        </div>

        <div class="col-md-4 mb-3">
            <label asp-for="FirstName" class="control-label text-info"></label>
            <input asp-for="FirstName" class="form-control needs-validation bg-dark text-light" type="text" validate required />
            <span asp-validation-for="FirstName" class="text-danger"></span><span class="invalid-feedback"></span>
            <span><div class="valid-feedback">   OK!   </div></span>
        </div>

        <div class="col-md-4 mb-3">
            <label asp-for="LastName" class="control-label text-info"></label>
            <input asp-for="LastName" class="form-control bg-dark text-white-50" id="validationCustom02" type="text" validate required />
            <span asp-validation-for="LastName" class="text-danger"></span><span><div class="invalid-feedback">Obavezno polje</div></span>
            <span><div class="valid-feedback">   OK!   </div></span>
        </div>

        <div class="col-md-4 mb-3">
            <label asp-for="Address" class="control-label text-info"></label>
            <input asp-for="Address" class="form-control bg-dark text-white-50" validate required type="text" />
            <span asp-validation-for="Address" class="text-danger"></span><span><div class="invalid-feedback">Obavezno polje</div></span>
            <span><div class="valid-feedback">   OK!   </div></span>
        </div>

        <div class="col-md-4 mb-3">
            <label asp-for="Email" class="control-label text-info"></label>
            <input asp-for="Email" class="form-control bg-dark text-white-50" validate required type="text" />
            <span asp-validation-for="Email" class="text-danger"></span><span><div class="invalid-feedback">Obavezno polje</div></span>
            <span><div class="valid-feedback">   OK!   </div></span>
        </div>

        <div class="col-md-4 mb-3">
            <label asp-for="Password" class="control-label text-info"></label>
            <input asp-for="Password" class="form-control bg-dark text-white-50" validate required type="text" />
            <span asp-validation-for="Password" class="text-danger"></span><span><div class="invalid-feedback">Obavezno polje</div></span>
            <span><div class="valid-feedback">   OK!   </div></span>
        </div>

        <div class="col-md-4 mb-3">
            <label asp-for="ConfirmPassword" class="control-label text-info"></label>
            <input asp-for="ConfirmPassword" class="form-control bg-dark text-white-50" validate required type="text" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span><span><div class="invalid-feedback">Obavezno polje</div></span>
            <span><div class="valid-feedback">   OK!   </div></span>
        </div>

        <div class="col-md-4 mb-3">
            <label asp-for="DateOfBirth" class="control-label text-info"></label>
            <input asp-for="DateOfBirth" class="form-control bg-dark text-center text-white-50" type="date" validate required />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span><span><div class="invalid-feedback">Obavezno polje</div></span>
            <div class="valid-feedback">  OK!    </div>
        </div>

        <div class="col-md-4 mb-4">
            <label class="control-label text-info">Rola</label>

            <select name="mojeRole" class="form-select bg-dark text-info text-center" validate required asp-items="@(new SelectList (SveRole, nameof(SveRole.IdRole),nameof(SveRole.RoleName)))">
                <option validate required value="" selected="SveRole" itemid="SveRole.IdRole">Select</option>
            </select>
                <div class="invalid-feedback"> Invalid input</div>
                <div class="valid-feedback">  OK!  </div>
        </div>

        <div class="col-sm mb-4">
            <input type="submit" value="Create" class="btn btn-outline-info" />
        </div>
    
    </div>
</form>