

@model AdminApp.Models.Role

@{
    ViewBag.Title = "Delete Role";
}

@{
    if (TempData["deletedRole"] == null)
    {
        <div class="alert alert-info mt-5 mb-5" role="alert">
                        Rola uspesno obrisana!
            <a asp-action="Index" class="alert-link alert-success">Povratak na pocetnu stranu</a>
        </div>
    }

}

