@model IEnumerable<User>

@{
    ViewBag.Title = "Search";
}

<div class="mt-5"></div>

<partial class="mt-5" name="~/Views/Shared/_PartialSearch.cshtml"/>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
    } 
    <script>

        var ConfirmDelete = function (DeleteUser) {

            $("#hiddenIdUser").val(DeleteUser);
            $("#staticBackdrop").modal('show');
        }

        var DeleteUser = function () {
            var userId = $("#hiddenIdUser").val();
            $.ajax({
                type: "POST",
                url: "/Admin/Delete/IdUser",
                data: { Id: IdUser },
                success: function (result) {

                    $("#staticBackdrop").modal("hide");
                    $("#row_" + IdUser).remove();
                }
            })
        }
    </script>
}
